.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: opacity $transition;
  -o-transition: opacity $transition;
  transition: opacity $transition;
  cursor: pointer;
}

.product-card:hover .actions {
  opacity: 1;
}

.actions__button {
  display: inline-block;
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
  width: 56px;
  height: 56px;
  outline: 0.4px solid $nav-hover-color;
  background-color: $text-color-button;
  -webkit-transition: background-color $transition;
  -o-transition: background-color $transition;
  transition: background-color $transition;

  &:hover,
  &:focus {
    background-color: $nav-hover-color;
  }
}

.actions__button--icon {
  width: 26px;
  height: 26px;
  fill: $nav-hover-color;

  -webkit-transition: fill $transition;

  -o-transition: fill $transition;

  transition: fill $transition;
}

.actions__button:hover .actions__button--icon {
  fill: $white-color;
}
