.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.post__item {
  padding-left: 92px;
  -ms-flex-preferred-size: calc(100% / 3);
  flex-basis: calc(100% / 3);
  position: relative;
  margin-bottom: 100px;
}

.post__icon {
  position: absolute;
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 0;
  -webkit-transform: translate(-165%, -5%);
  -ms-transform: translate(-165%, -5%);
  transform: translate(-165%, -5%);
  cursor: pointer;
  fill: $text-color-nav;

  -webkit-transition: -webkit-filter 200ms linear;

  transition: -webkit-filter 200ms linear;

  -o-transition: filter 200ms linear;

  transition: filter 200ms linear;

  transition: filter 200ms linear, -webkit-filter 200ms linear;

  &:hover {
    -webkit-filter: drop-shadow(1px 1.732px 2.5px rgba(0, 0, 0, 0.19));
    filter: drop-shadow(1px 1.732px 2.5px rgba(0, 0, 0, 0.19));
  }
}

.post__title {
  margin-top: 0px;
  font-size: 14px;
  color: $text-color-h;
  font-family: $font-family-montserrat;
  font-weight: 500;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.post__text {
  margin-top: 0px;
  font-size: 15px;
  line-height: 24px;
  color: $text-color;
  font-family: $font-family-roboto;
  font-weight: 400;
  margin-bottom: 0px;
}

.post__text--center {
  text-indent: 72px;
  margin-bottom: 100px;
  text-align: center;
}
