.section-post {
  padding-top: 45px;
}

.section__title {
  font-size: 30px;
  color: $text-color-h;
  font-family: $ff-montserrat;
  font-weight: 700;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 109px;
  text-transform: uppercase;
  position: relative;
}

.section__title--diffont {
  display: inline-block;
  font-size: 24px;
  font-family: $ff-kaushan;
  margin-bottom: 17px;
  text-transform: none;
  font-weight: 400;
}

.section__title--underline::before {
  position: absolute;
  content: '';
  width: 60px;
  height: 4px;
  background-color: $nav-hover-color;
  left: 570px;
  top: 114px;
}

.section-card__text {
  margin-top: 0px;
  font-size: 15px;
  line-height: 24px;
  color: $text-color;
  font-family: $ff-roboto;
  font-weight: 400;
  text-indent: 72px;
  text-align: center;
  margin-bottom: 100px;
}
