$ff-roboto: 'Roboto', sans-serif;
$ff-montserrat: 'Montserrat', sans-serif;
$ff-kaushan: 'Kaushan Script', cursive;
$nav-hover-color: #f38181;
$text-color: #999999;
$text-color-nav: #95e1d3;
$text-color-h: #333333;
$text-color-button: #fce38a;
$white-color: #fff;
$transform-cards: translate(-12px, -14px);
$transition: 200ms linear;
