$font-family-roboto: 'Roboto', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-kaushan: 'Kaushan Script', cursive;
$nav-hover-color: #f38181;
$text-color: #999999;
$text-color-nav: #95e1d3;
$text-color-h: #333333;
$text-color-button: #fce38a;
$white-color: #fff;
